/* -------------------------------------------
   ログイン
 ------------------------------------------- */
.login-container {
  @include flex-center();

  .login-content {
    border: 1px solid $c_border;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
  }

  .login-title {
    width: 100%;
    padding: 0.4rem 0;
    background-color: $c_header;
    color: $c_text;
    font-family: 'Maitree', serif;
    font-size: 2rem;
    text-align: center;
  }

  .login-main {
    padding: 0.6rem 1.6rem 1.2rem;
  }

  .login-row {
    margin: 1rem auto;
  }

  .login-label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .login-account,
  .login-password {
    width: 100%;
    max-width: 100%;
  }
}
