@use 'sass:map';

/* -------------------------------------------
   棋士情報検索
 ------------------------------------------- */
// 列の幅
$_columns: (
  id: (
    pc: 60px,
  ),
  country: (
    pc: 70px,
    sp: 50px,
  ),
  joined: (
    pc: 95px,
  ),
  rank: (
    pc: 60px,
    sp: 50px,
  ),
  sex: (
    pc: 60px,
  ),
  organization: (
    pc: 100px,
    sp: 50px,
  ),
  score: (
    pc: 100px,
  ),
);

.players {
  .search-header {
    .joined {
      margin-right: 0.3rem;
      width: 100px;

      &.joined-to {
        margin-left: 0.3rem;
      }
    }
  }

  .table-row-retired {
    background-color: $c_gray;
  }

  .table-column {
    $w_specify_pc: 0;
    $w_specify_sp: 0;

    @each $name, $device_widths in $_columns {
      $w_pc: map.get($device_widths, pc);
      $w_sp: map.get($device_widths, sp);
      &_#{$name} {
        @include ellipsis();

        @include sp() {
          @if not $w_sp {
            // sp 用の幅が取得できないカラムは表示しない
            display: none;
          }

          flex-basis: $w_sp;
        }

        flex-basis: $w_pc;
      }
      $w_specify_pc: $w_specify_pc + $w_pc;

      @if $w_sp {
        $w_specify_sp: $w_specify_sp + $w_sp;
      }

      // score は2列あるので再度加算する
      @if $name == 'score' {
        $w_specify_pc: $w_specify_pc + $w_pc;

        @if $w_sp {
          $w_specify_sp: $w_specify_sp + $w_sp;
        }
      }
    }

    &_id,
    &_country,
    &_organization,
    &_rank,
    &_sex {
      text-align: center;
    }

    &_name {
      @include ellipsis();

      @include sp() {
        flex-basis: calc((100% - #{$w_specify_sp}) / 3);
      }

      flex-basis: calc((100% - #{$w_specify_pc}) / 3);
    }

    &_score {
      @include sp() {
        display: none;
      }

      display: flex;
      padding: 0;
      justify-content: space-around;
      flex-wrap: wrap;

      &-summary {
        flex-basis: 100%;
        text-align: center;
      }

      &-point {
        padding: 0;
        flex-basis: calc(100% / 3);
        text-align: center;
      }
    }
  }
}
