@use 'sass:color';

/* -------------------------------------------
   タイトル勝敗検索
 ------------------------------------------- */
.title-scores {
  .search-header {
    .name {
      width: 200px;
    }

    .started {
      margin-right: 0.5rem;
      width: 120px;
    }

    .ended {
      margin-left: 0.5rem;
      width: 120px;
    }
  }

  .table-row-unofficial {
    background-color: $c_unofficial;
  }

  .table-column {
    &_id {
      width: 5%;
      text-align: center;
    }

    &_country {
      width: 6%;
    }

    &_title {
      width: 24%;
    }

    &_date {
      width: 10%;
    }

    // 勝者・敗者で2列ある
    &_name {
      width: calc(30% / 2);
    }

    &_result {
      width: 15%;
    }

    &_operation {
      @include flex-center();

      width: 10%;
    }
  }

  .player-scores-header {
    @include flex-justify-between();

    height: 40px;

    .score-detail {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .player-scores-results {
    height: calc(100% - 40px);
    border: 1px solid $c_black;

    .table-header {
      .table-row {
        height: 35px;
      }
    }

    .table-body {
      height: calc(100% - 35px);
      overflow-y: auto;
    }

    .table-column {
      &_id {
        width: 10%;
      }

      &_title {
        width: 30%;
      }

      &_country,
      &_date {
        width: 10%;
      }

      &_name {
        width: 20%;

        .selected {
          color: color.adjust($c_green, $lightness: 4%);
          font-weight: bold;
        }
      }
    }
  }
}
