@use 'sass:color';

/* -------------------------------------------
   タイトル情報検索
 ------------------------------------------- */
.titles {
  .table-row {
    &-closed {
      background-color: $c_closed;
    }
  }

  .table-column {
    &_name {
      width: calc(30% / 2);
    }

    &_winner {
      width: 12%;
    }

    &_order,
    &_holding {
      width: calc(12% / 3);
      text-align: center;

      &-input {
        text-align: right;
      }
    }

    &_team,
    &_closed,
    &_output,
    &_official {
      width: calc(20% / 4);
      text-align: center;
    }

    &_filename {
      width: 10%;
    }

    &_modified {
      width: 10%;
      text-align: center;

      &-input {
        text-align: center;
      }
    }

    &_open-detail {
      width: 6%;
      text-align: center;
    }
  }
}
