{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": ["plugin:vue/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "overrides": [
    {
      "files": ["*.ts", "*.vue"]
    }
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["off"],
    "linebreak-style": ["error", "unix"],
    "no-console": ["warn"],
    "no-trailing-spaces": ["error"],
    "no-useless-escape": ["off"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "vue/attributes-order": ["error"],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 20,
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/multi-word-component-names": ["off"],
    "@typescript-eslint/indent": ["off"],
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"]
  }
}
