/vendor/*
/config/app.php
/tmp/*
/logs/*
/vendor
/composer.phar
/nbproject
/composer.lock
/webroot/visual
/.buildpath
/.project
/.settings/org.eclipse.php.server.core.phpServersPrefs.prefs
/.settings/org.eclipse.wst.validation.prefs
