{
  "plugins": ["stylelint-scss"],
  "files": ["**/*.scss", "**/*.vue"],
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "customSyntax": "postcss-scss",
      "extends": ["stylelint-config-recommended-scss"]
    },
    {
      "files": ["*.vue", "**/*.vue"],
      "customSyntax": "postcss-html",
      "extends": [
        "stylelint-config-recommended-scss",
        "stylelint-config-recommended-vue"
      ]
    }
  ],
  "rules": {
    "scss/dollar-variable-colon-space-after": "always",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "mixin",
          "content",
          "include",
          "extend",
          "each",
          "if",
          "else",
          "for",
          "use"
        ]
      }
    ],
    "no-descending-specificity": null
  }
}
