services:
  backend:
    image: ghcr.io/gotoeveryone/composer-php:8.4
    volumes:
      - ./:/src
      - vendor:/src/vendor
    ports:
      - '8765:8765'
    depends_on:
      - database
    tty: true
    working_dir: /src
    command: sh -c 'composer install -n && ./bin/cake server --host 0.0.0.0'
  frontend:
    image: node:24.13
    volumes:
      - ./:/src
      - node_modules:/src/node_modules
    tty: true
    working_dir: /src
    command: sh -c 'npm i --engine-strict && npm run dev'
  database:
    image: mariadb:10.5
    volumes:
      - ./database:/var/lib/mysql
      - ./tests:/docker-entrypoint-initdb.d:ro
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'yes'
      MARIADB_DATABASE: 'gotea'
      MARIADB_TEST_DATABASE: 'gotea_test'
      TZ: 'Asia/Tokyo'
    ports:
      - '3306:3306'
    command: mariadbd --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci

volumes:
  node_modules:
  vendor:
