@CHARSET "UTF-8";

/* -------------------------------------------
   タグ単位のレイアウト
 ------------------------------------------- */
* {
	font-size: 0.8rem;
}

header .system-name {
    padding-left: 1rem;
    width: 15%;
	text-align: left;
}

header .system-name > * {
    font-size: 1.3rem;
    font-weight: bold;
}

header .page-title {
	margin: auto;
    width: 70%;
}

header .other {
    padding-right: 1rem;
    width: 15%;
	text-align: right;
}

header .other > * {
    display: block;
    height: 50%;
    font-size: 1rem;
}

header .other .username {
    padding-top: 0;
    font-weight: bold;
	text-decoration: underline;
}

main, nav {
    padding: 0 0.5rem;
}

nav + main {
    width: 70%;
    min-width: calc(100% - 220px);
}

nav {
    width: 30%;
	max-width: 220px;
}

strong {
    margin: 0 0.3rem;
}

strong span {
    color: #ff0000;
}

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
.content.modal {
    height: 100%;
}

.row {
    min-height: 2.6rem;
}

.label {
    font-weight: bold;
}

.female {
    color: #ff0000;
}

form {
    height: 100%;
    width: 100%;
}

/* -------------------------------------------
   ダイアログ用
 ------------------------------------------- */
#dialog, #confirm {
	display: none;
}

#dialog ul {
    padding-left: 1.5rem;
}

/* -------------------------------------------
   検索エリア
 ------------------------------------------- */
.search-header {
    position: relative;
    margin-bottom: 0.5rem;
	padding: 0.3rem;
    background-color: #ffffff;
	border: 0.2rem solid #bbbbbb;
    border-radius: 0.4rem;
}

.search-header .label {
    margin: 0 0.5rem 0 0.2rem;
}

.search-header .label + * {
    margin-right: 1rem;
}

.search-header .button-column {
    position: absolute;
    right: 0.5rem;
}

.search-header .year,
.search-header .country,
.search-header .sex,
.search-header .rank {
	width: 6rem;
}

.search-header .organization,
.search-header .retired {
	width: 10rem;
}

.search-header .name {
	width: 14rem;
}

.search-header .enrollment {
    width: 3.8rem;
    text-align: right;
}

/* -------------------------------------------
   検索エリア（一覧）
 ------------------------------------------- */
.search-results {
    height: calc(100% - 4rem - 0.5rem); /* content - .search-header and margin */
}

.search-results table {
	display: block;
	height: 100%;
	max-height: 100%;
	border-collapse: collapse;
}

.search-results thead {
	display: table-cell;
	border: 1px #000000 solid;
    height: 3.2rem;
    max-height: 3.2rem;
}

.search-results tbody {
    display: inline-block;
    max-height: calc(100% - 3.2rem);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-x: hidden;
    -ms-overflow-y: scroll;
    background-color: #ffffff;
	border-top: 2px #000000 solid;
	border-left: 1px #000000 solid;
	border-right: 2px #000000 solid;
	border-bottom: 2px #000000 solid;
    margin-top: -2px;
}

.search-results td,
.search-results th {
    display: table-cell;
    padding: 3px;
	border: 1px solid #000000;
	table-layout: fixed;
}

.search-results tr td:nth-last-of-type(1) {
	border-right: 2px solid #000000;
}

.search-results tr:first-of-type td {
	border-top: none;
}

.search-results tr:nth-last-of-type(1) td {
	border-bottom: none;
}

/* -------------------------------------------
   詳細表示エリア
 ------------------------------------------- */
.detail-dialog {
    width: 100%;
    height: 100%;
}

.detail-dialog #tabs {
    height: 30px;
    letter-spacing: -.4em;
    font-size: 0;
}

.detail-dialog #tabs .tab {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
	border: 0.1rem solid #000000;
	border-bottom: none;
    height: 100%;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.detail-dialog #tabs .selectTab {
    font-weight: bold;
    color: #000000;
    background-color: #99ffff;
}

.detail-dialog .detail {
	height: calc(100% - 30px);
    overflow-y: auto;
    border: 0.1rem solid #000000;
    background-color: #ffffff;
}

[class^=box] {
    padding: 0.1rem;
    vertical-align: top;
    width: 100%;
}

[class^=box] [class$=-row] {
    vertical-align: middle;
}

.box2 {
    width: calc(100% / 2);
}

.box3 {
    width: calc(100% / 3);
}

.box4 {
    width: calc(100% / 4);
}

[class$=-row] {
    display: table;
    width: 100%;
}

[class$=-row] + .row {
    margin-top: 0;
}

[class$=-row]:not(.input-row) > * {
    display: table-cell;
    vertical-align: middle;
}

.row-group {
    border-top: 0.1rem solid #000000;
}

.category-row {
	height: 2.5rem;
	text-indent: 0.5rem;
	font-weight: bold;
	background-color: #ddeeff;
}

.category-row * {
	font-size: 1.2rem;
}

.genre-row {
	height: 2.3rem;
	text-indent: 0.6rem;
	font-weight: bold;
	background-color: #eeffdd;
}

.genre-row * {
	font-size: 1.1rem;
}

.label-row {
	height: 2.2rem;
	text-indent: 0.7rem;
	background-color: #ffeedd;
    font-weight: bold;
}

.label-row:first-child {
    margin: 0 auto 0.2rem;
    border-radius: 0.4rem;
}

.input-row {
    margin: 0.5rem 0;
	padding: 0 0.7rem;
}

.input-row > * {
    display: table-cell;
    vertical-align: middle;
}

.input-row > [class^=box] > * {
    display: inline-block;
}

.input-row > * input {
    margin-right: 0.2rem;
}

.input-row .point,
.input-row .holding {
    width: 3rem;
    text-align: right;
}

.input-row .datepicker {
    width: 9rem;
}

.input-row .year {
    width: 4rem;
    text-align: right;
}

.input-row select,
.input-row textarea {
    width: 100%;
}

.input-row [class^=box].button-area {
    display: table-cell;
    text-align: right;
}

.button-row {
    margin: 0.5rem auto;
    height: 2.8rem;
    text-align: center;
}

/* -------------------------------------------
   ログイン画面
 ------------------------------------------- */
.login {
	width: 20%;
    min-width: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.login .row .label {
	width: 30%;
}

.login .row .label + * {
	width: 70%;
}

.login .row .label > * {
    display: block;
    padding-right: 0.7rem;
    width: 100%;
	text-align: right;
}

.login .row input {
    width: 100%;
}

/* -------------------------------------------
   勝敗ランキング画面
 ------------------------------------------- */
.ranking {
    width: 30rem;
}

.ranking .search-header select {
	width: 7rem;
}

.ranking .search-results {
    height: calc(100% - 7rem - 0.5rem);
}

.ranking .search-results thead tr {
    display: table;
    height: 100%;
}

.ranking .search-results table .no {
	width: 30px;
}

.ranking .search-results table .playerName {
	width: 196px;
}

.ranking .search-results table .winPoint,
.ranking .search-results table .losePoint {
	width: 40px;
}

.ranking .search-results table .winPercent {
	width: 45px;
}

/* -------------------------------------------
   棋士情報検索
 ------------------------------------------- */
.players .search-results {
    height: calc(100% - 7rem - 0.5rem);
}

.players .search-results tbody {
    max-height: calc(100% - 3.7rem);
}

table.players tr.retired {
	background-color: #dddddd;
}

table.players .playerId {
	width: 50px;
}

table.players .playerName,
table.players .playerNameEn {
	width: 176px;
}

table.players .enrollment {
	width: 75px;
}

table.players .country {
	width: 60px;
}

table.players .organization {
	width: 100px;
}

table.players .rank,
table.players .sex {
	width: 50px;
}

table.players .score {
	/*width: 100px;*/
}

table.players .scorePoint {
	width: 36px;
}

/* -------------------------------------------
   タイトル情報検索
 ------------------------------------------- */
table.titles tr.retired {
	background-color: #dddddd;
}

table.titles .titleName,
table.titles .titleNameEn {
	width: 170px;
}

table.titles .winner {
	width: 150px;
}

table.titles .holding,
table.titles .order {
	width: 40px;
	text-align: center;
}

table.titles .groupFlag,
table.titles .deleteFlag {
	width: 35px;
	text-align: center;
}

table.titles .htmlFileName {
	width: 70px;
}

table.titles .htmlModifyDate {
	width: 90px;
}

table.titles .openRetain {
	width: 50px;
}

table.titles input[type=text] {
	width: 100%;
}

table.titles .holding input[type=text],
table.titles .order input[type=text],
table.titles .htmlModifyDate input[type=text] {
	text-align: center;
}

/* -------------------------------------------
   タイトル情報詳細
 ------------------------------------------- */
.retentions {
    display: none;
    width: 85%;
    margin: auto;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #000000;
}

.retentions *,
.retentions button {
    font-size: 0.85rem;
}

.retentions table {
    width: 100%;
    margin: auto;
}

.retentions table,
.retentions table tbody,
.retentions table tr,
.retentions table td {
	border: 0.1rem #000000 solid;
	border-collapse: collapse;
}

.retentions table tbody,
.retentions table tr,
.retentions table td {
    padding: 0.1rem 0.5rem;
}

/* -------------------------------------------
   段位別棋士数検索
 ------------------------------------------- */
.categories {
    width: 25rem;
}

.categories .search-results thead tr {
    display: table;
    height: 100%;
}

.categories .search-results table .rank {
    width: 60px;
}

.categories .search-results table .count {
    width: 80px;
}

/* -------------------------------------------
   成績更新日編集
 ------------------------------------------- */
.update-points .search-results {
	border: 0.2rem solid #777777;
    background-color: #ffffff;
    border-radius: 0.4rem;
    max-height: calc(100% - 4rem - 0.5rem); /* content - .search-header and margin */
    height: auto;
}

/* -------------------------------------------
   各種情報クエリ更新
 ------------------------------------------- */
.update-score textarea {
	height: calc(100% - 3.8rem);
	width: 100%;
    font-size: 12px;
	overflow-y: auto;
	border: 1px solid #000000;
	margin-bottom: 5px;
}
