@CHARSET "UTF-8";

html, body {
	font-size: 14px;
	height: 98%;
}

/* -------------------------------------------
   ボタン
 ------------------------------------------- */
section#container button {
    min-width: 70px;
    min-height: 25px;
    font-size: 14px;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #cccccc;
    margin: 0px 2px;
}

section#container button:hover:enabled, a.button:hover {
    background-color: #999999;
}

section#container a.button {
	display: block;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 2px solid;
	color: black;
	border-color: #aaaaaa #444444 #444444 #aaaaaa;
	background-color: #bbb;
}

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
section#container .menu {
	width: 200px;
	height: 18px;
}

section#container th,
section#container tr,
section#container td {
	border-collapse: collapse;
}

section#container {
	margin: auto;
	width: 99%;
	position: relative;
	min-height: 100%;
	height: 100%;
}

section#header {
	font-size: 13px;
	height: 40px;
	vertical-align: top;
	font-style: italic;
	width: 100%;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    /*font-family: 'Hannari';*/
}

section#header:after {
    content: "";
	clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

section#header .system-name {
	float: left;
    width: 15%;
    font-weight: bold;
    font-size: 1.3rem;
}

@font-face {
	font-family: 'Hannari';
	src: url('../fonts/Hannari.otf');
}

section#header .page-title {
    float: left;
	margin: auto;
    width: 70%;
}

section#header .page-title h1 {
	margin: 0px;
    text-align: center;
	font-size: 2.5rem;
}

section#header .username {
	float: right;
    width: 15%;
	text-align: right;
    line-height: 18px;
}

section#header .username span {
    font-weight: bold;
	text-decoration: underline;
}

section#content {
	height: calc(100% - 120px);
}

section#contentModal {
	height: 100%;
}

section#content .sideMenu,
section#contentModal .sideMenu {
	height: 100%;
	float: left;
	width: 220px;
}

section#content .child,
section#contentModal .child {
	display: block;
	height: 100%;
}

section#content .main,
section#contentModal .main {
	display: block;
	height: 100%;
	margin-left: 220px;
	margin-right: auto;
}

section#footer {
	font-size: 13px;
	position: absolute;
	height: 40px;
	width: 100%;
	bottom: 0px;
}

section.row:after {
    content: "";
	clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

/* -------------------------------------------
   ダイアログ用
 ------------------------------------------- */
#dialog, #confirm {
	display: none;
}

/* -------------------------------------------
   共通
 ------------------------------------------- */
input.year {
	width: 40px;
}

input.playerName {
	width: 150px;
}

input.datapicker {
	width: 100px;
}

.clear {
	clear: both;
}

div.spacer {
    height: 5px;
}

form#mainForm {
	height: 100%;
}

.female {
	color: #ff4577;
}

/* -------------------------------------------
   マスタプルダウン
 ------------------------------------------- */
select.country {
	width: 80px;
}

select.year, select.sex, select.rank {
	width: 70px;
}

select.organization {
	width: 140px;
}

select.retired {
	width: 100px;
}

/* -------------------------------------------
   検索エリア
 ------------------------------------------- */
td.searchColumn1 {
    width: 70px;
}

td.searchColumn2 {
    width: 140px;
}

th.space, td.space {
    width: 15px;
}

/* -------------------------------------------
   検索エリア（一覧）
 ------------------------------------------- */
table.searchView {
	height: 100%;
	display: block;
} 

table.searchView thead {
	background-color: #ffffcc;
	display: table-cell;
	border: 1px #000000 solid;
    max-height: 50px;
}

table.searchView tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-x: hidden;
    -ms-overflow-y: scroll;
    background-color: #ffffff;
    display: inline-block;
	border-top: 2px #000000 solid;
	border-left: 1px #000000 solid;
	border-right: 2px #000000 solid;
	border-bottom: 2px #000000 solid;
    margin-top: -2px;
}

table.searchView td,
table.searchView th {
    display: table-cell;
	border: 1px solid #000000;
	table-layout: fixed;
}

table.searchView tr td:nth-last-of-type(1) {
	border-right: 2px solid #000000;
}

table.searchView tr:first-of-type td {
	border-top: none;
}

table.searchView tr:nth-last-of-type(1) td {
	border-bottom: none;
}

/* -------------------------------------------
   詳細表示エリア
 ------------------------------------------- */
section#tabs {
    height: 30px;
    margin-bottom: 2px;
}

section#tabs:after {
    content: "";
	clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

section#tabs .tab {
    float: left;
    color: #ffffff;
    background-color: #000000;
	border: 1px solid #000000;
    height: 100%;
    padding: 0px 5px;
    border-radius: 6px 6px 0px 0px;
}

section#tabs .selectTab {
    font-weight: bold;
    color: #000000;
    background-color: #99ffff;
}

section#detail {
	max-width: 500px;
	margin-bottom: 3px;
	height: calc(100% - 30px);
    margin: auto;
}

section#scroll {
	overflow-y: scroll;
	height: calc(100% - 30px);
	border: 1px solid #000000;
	background-color: #ffffff;
}

section.title,
section.retains {
	width: 100%;
	padding: 2px;
	background-color: #ffffff;
}

section[class^=box] {
    float: left;
}

section[class^=box].button {
    text-align: right;
}

section[class^=box].button:after {
    clear: both;
}

section.box {
    width: 100%;
}

section.box2 {
    width: calc(100% / 2);
}

section.box3 {
    width: calc(100% / 3);
}

section.box4 {
    width: calc(100% / 4);
}

section.categoryRow {
	height: 30px;
	text-indent: 5px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	background-color: #ddeeff;
}

section.genreRow {
	height: 25px;
	text-indent: 5px;
	font-size: 14px;
	font-weight: bold;
	background-color: #eeffdd;
}

section.headerRow {
	height: 22px;
    width: 99%;
    margin-left: 1px;
    margin-bottom: 3px;
	text-indent: 5px;
	background-color: #ffeedd;
}

section.valueRow {
    min-height: 28px;
	text-indent: 10px;
}

section.buttonRow {
    margin: 5px auto;
    text-align: center;
}

section.details hr {
    margin: 0px;
}

section.details input.playerPoint {
	width: 25px;
}

section.details textarea.remarks {
	width: 95%;
	height: 95%;
    resize: none;
}

section.details input.targetYear {
	width: 40px;
}

section.details input.targetHolding {
	width: 30px;
}

section.details input[type=text].readonly {
    border-style: none;
    background-color: transparent;
    -moz-user-input: none;
}

section.details input[type=text].readonly.playerName {
    width: 100px;
}

section.details input[type=text].readonly.rank {
    width: 60px;
}

/* -------------------------------------------
   ログイン画面
 ------------------------------------------- */
section.login {
	width: 250px;
	height: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

section.loginRow {
	height: 30px;
	clear: both;
}

section.loginColumnLeft {
	float: left;
	width: 30%;
	height: 30px;
	text-align: right;
}

section.loginColumnRight {
	float: right;
	width: 70%;
	height: 30px;
	text-align: right;
}

section.submit {
	text-align: center;
	width: 100%;
}

span.label {
	vertical-align: middle;
	padding-right: 3px;
}

/* -------------------------------------------
   勝敗ランキング画面
 ------------------------------------------- */
table.rankingHeader {
	border: 2px solid #dddddd;
	padding: 5px 5px 0px 5px;
	width: 387px;
	height: 80px;
	text-align: left;
	background-color: #ffffff;
}

table.rankingHeader select.ranking {
	width: 85px;
}

td.rankingColumn1 {
    width: 90px;
}

table.ranking {
	height: calc(100% - 90px);
	max-height: calc(100% - 90px);
	/*min-width: 387px;*/
	/*max-width: 387px;*/
	border-collapse: collapse;
}

table.ranking tbody {
	max-height: calc(100% - 23px);
	border-right: 2px #000000 solid;
}

table.ranking .no {
	width: 30px;
}

table.ranking .playerName {
	width: 196px;
}

table.ranking .winPoint,
table.ranking .losePoint {
	width: 40px;
}

table.ranking .winPercent {
	width: 45px;
}

/* -------------------------------------------
   棋士情報検索
 ------------------------------------------- */
table.playersHeader {
	border: 2px solid #999999;
	padding: 5px 5px 0px 5px;
	width: 100%;
	height: 90px;
	text-align: left;
	background-color: #ffffff;
	margin-bottom: 5px;
}

table.playersHeader input.from,
table.playersHeader input.to {
    text-align: right;
	width: 40px;
}

table.players {
	height: calc(100% - 100px);
	max-height: calc(100% - 100px);
	border-collapse: collapse;
}

table.players tbody {
	max-height: calc(100% - 30px);
}

table.players tr.retired {
	background-color: #dddddd;
}

table.players .playerId {
	width: 50px;
}

table.players .playerName,
table.players .playerNameEn {
	width: 176px;
}

table.players .enrollment {
	width: 75px;
}

table.players .country {
	width: 60px;
}

table.players .organization {
	width: 100px;
}

table.players .rank,
table.players .sex {
	width: 50px;
}

table.players .score {
	/*width: 100px;*/
}

table.players .scorePoint {
	width: 36px;
}

/* -------------------------------------------
   タイトル情報検索
 ------------------------------------------- */
table.titlesHeader {
	height: 50px;
	width: 95%;
	border: 2px solid #dddddd;
	padding: 5px 5px 0px 5px;
	text-align: left;
	background-color: #ffffff;
	margin-bottom: 5px;
}

table.titles {
	height: calc(100% - 60px);
	max-height: calc(100% - 60px);
	border-collapse: collapse;
}

table.titles thead th {
	height: 100%;
}

table.titles tbody {
	max-height: calc(100% - 28px);
	border-right: 2px #000000 solid;
}

table.titles tbody tr {
	height: 30px;
}

table.titles tr.retired {
	background-color: #dddddd;
}

table.titles .titleName,
table.titles .titleNameEn {
	width: 170px;
}

table.titles .holding {
	width: 35px;
}

table.titles .winner {
	width: 150px;
}

table.titles .order {
	width: 35px;
	text-align: center;
}

table.titles .groupFlag,
table.titles .deleteFlag {
	width: 35px;
	text-align: center;
}

table.titles .htmlFileName {
	width: 70px;
}

table.titles .htmlModifyDate {
	width: 85px;
}

table.titles .openRetain {
	width: 50px;
}

table.titles input[type=text] {
	width: calc(100% - 7px);
}

table.titles .holding input[type=text],
table.titles .order input[type=text],
table.titles .htmlModifyDate input[type=text] {
	text-align: center;
}

/* -------------------------------------------
   段位別棋士数検索
 ------------------------------------------- */
table.categorizeHeader {
	height: 50px;
	width: 300px;
	border: 2px solid #dddddd;
	padding: 5px 5px 0px 5px;
	text-align: left;
	background-color: #ffffff;
	margin-bottom: 5px;
}

table.ranks {
	height: calc(100% - 50px);
	max-height: calc(100% - 50px);
	border-collapse: collapse;
}

table.ranks tbody {
	max-height: calc(100% - 33px);
	border-collapse: collapse;
}

table.ranks .rank {
    width: 60px;
}

table.ranks .count {
    width: 80px;
}

/* -------------------------------------------
   成績更新日編集
 ------------------------------------------- */
table.scoreUpdatesHeader {
	width: 100%;
	height: 40px;
	border: 2px solid #dddddd;
	background-color: #ffffff;
	margin-bottom: 5px;
}

section#scoreUpdates {
	width: 100%;
	margin-bottom: 3px;
	border: 1px solid #000000;
	background-color: #ffffff;
}

section#scoreUpdates section.detail {
    padding: 0px 0px 5px 0px;
}

section#scoreUpdates section.detail span {
    margin: 0px 20px;
}

/* -------------------------------------------
   各種情報クエリ更新
 ------------------------------------------- */
section.updateScore {
	height: 100%;
	width: 98%;
	text-align: center;
	margin: auto;
}

section.updateScore textarea {
	height: calc(100% - 27px);
	width: 100%;
    font-size: 12px;
	overflow-y: auto;
	border: 1px solid #000000;
	margin-bottom: 5px;
}
