@use 'sass:color';

/* -------------------------------------------
   タグ単位のレイアウト
 ------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Maitree');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  @include sp() {
    font-size: 0.8rem;
  }

  font-family: 'Noto Serif JP', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: $c_main;
  color: $c_text;
}

main > section {
  position: relative;
  padding: 5px 10px;
  height: 100%;
  max-width: 100%;
}

nav + main {
  @include pc() {
    width: 70%;
    min-width: calc(100% - #{$w_nav});
  }

  @include sp() {
    padding-top: $h_nav-sp;
    width: 100%;
  }
}

nav {
  @include pc() {
    width: 30%;
    max-width: #{$w_nav};
  }

  @include sp() {
    @include flex-justify-between();
    @include fixed-row();

    height: $h_nav-sp;
    top: $h_header;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: none;
}

label {
  display: block;
}

input,
textarea,
select {
  padding: 0.3rem 0.4rem;
  width: 100%;
  max-width: 100%;
  border: 1px solid $c_border;
  border-radius: 5px;
  background-color: $c_input;
  color: $c_text;
  outline: none;

  &:focus {
    background-color: color.adjust($c_input, $lightness: 4%);
    box-shadow: 0 0 5px 1px $c_border;
  }
}

input,
select {
  height: 30px;
}

input[type='checkbox'] {
  margin: 0;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
}

button {
  margin: auto 0.3rem;
  padding: 0.3rem 0.8rem;
  border: 1px solid color.adjust($c_gray, $lightness: -15%);
  border-radius: 5px;
  cursor: pointer;
  background-color: $c_button;
}

a {
  color: $c_anchor;
  cursor: pointer;
}
