@use 'sass:color';

$minRowHeight: 2.6rem;
$rowPadding: 0.3rem;

$c_white: #fff;
$c_black: #000;
$c_red: #f00;
$c_blue: #00f;
$c_gray: #ccc;
$c_green: #080;

$c_header: color.adjust($c_black, $lightness: 32%);
$c_footer: $c_header;
$c_title: color.adjust($c_white, $lightness: -8%);
$c_nav: color.adjust($c_black, $lightness: -24%);
$c_main: color.adjust($c_black, $lightness: 16%);
$c_unofficial: #ddd;
$c_text: color.adjust($c_white, $lightness: -16%);
$c_border: color.adjust($c_main, $lightness: 32%);
$c_button: color.adjust($c_white, $lightness: -24%);
$c_anchor: color.adjust($c_white, $lightness: -32%);
$c_info: color.adjust($c_blue, $lightness: 28%);
$c_warning: $c_info;
$c_error: color.adjust($c_red, $lightness: 28%);
$c_female: color.adjust($c_red, $lightness: 32%);
$c_pager: color.adjust($c_main, $lightness: 16%);
$c_modal_header: color.adjust($c_header, $lightness: -12%);
$c_modal: $c_header;
$c_modal_backdrop: rgba(color.adjust($c_main, $lightness: 16%), 0.6);

// ヘッダ・フッタ
$h_header: 3.5rem;
$h_footer: 2.5rem;

// ナビゲーション
$w_nav: 240px;
$h_nav-sp: 40px;

// タブ
$h_tab: 40px;

// ブレークポイント
$breakpoint: 728px;
