/* -------------------------------------------
   共通レイアウトの上書き
 ------------------------------------------- */
.search-header {
    margin-top: 0;
}
.search-results {
    .table-body {
        .table-row {
            .male {
                color: $c_blue;
            }
            .female {
                color: $c_red;
            }
        }
    }
}
