@mixin sp() {
  @media screen and (max-width: ($breakpoint)) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin fixed-row() {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 20;
}

@mixin display-center() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-justify-start() {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-justify-end() {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-justify-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-searcharea() {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@mixin navi($color) {
  background-color: #{$color};
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: darken($color, 15%);
  }
}

@mixin button($color) {
  background-color: #{$color};
  border: 1px solid darken($color, 20%);
  transition: background-color 0.3s ease-in-out;

  &:enabled:hover {
    background-color: darken($color, 15%);
  }

  &:disabled {
    opacity: 0.6;
    cursor: initial;
  }
}

@mixin button-link($color) {
  padding: 5px 10px;
  background-color: #{$color};
  transition: background-color 0.2s ease-in-out;
  border: 1px outset darken($color, 25%);
  border-radius: 3px;
  color: $c_black;
  text-decoration: none;

  &:hover {
    background-color: darken($color, 10%);
  }
}

/* アニメーション */
@mixin fade($second, $fadeClass) {
  animation: show #{$second}s ease-in-out;
  @content;

  &.#{$fadeClass} {
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
