@mixin display-center() {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-side-start() {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-side-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-side-end() {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin navi($color) {
    background-color: #{$color};
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: darken($color, 15%);
    }
}

@mixin button($color) {
    background-color: #{$color};
    border: 1px solid darken($color, 20%);
    transition: background-color .3s ease-in-out;

    &:enabled:hover {
        background-color: darken($color, 15%);
    }
    &:disabled {
        opacity: .6;
        cursor: initial;
    }
}

@mixin button-link($color) {
    padding: 5px 10px;
    background-color: #{$color};
    transition: background-color .3s ease-in-out;
    border: 2px outset darken($color, 25%);
    border-radius: 5px;
    color: $c_black;
    text-decoration: none;

    &:hover {
        background-color: darken($color, 20%);
    }
}

@mixin not-liststyle() {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* アニメーション */
@mixin fade($second, $fadeClass) {
    animation: show #{$second}s ease-in-out;
    @content;
    &.#{$fadeClass} {
        display: none;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
