@mixin navi($color) {
    background-color: #{$color};
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: darken($color, 15%);
    }
}

@mixin button($color) {
    background-color: #{$color};
    transition: background-color .3s ease-in-out;

    &:enabled:hover {
        background-color: darken($color, 20%);
    }
}

@mixin button-link($color) {
    background-color: #{$color};
    transition: background-color .3s ease-in-out;
    padding: 5px 10px;
    border: 2px outset darken($color, 25%);
    border-radius: 5px;
    color: $c_black;
    text-decoration: none;

    &:hover {
        background-color: darken($color, 20%);
    }
}

@mixin not-liststyle() {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* アニメーション */
@mixin fade($second, $fadeClass) {
    animation: show #{$second}s ease-in-out;
    @content;
    &.#{$fadeClass} {
        display: none;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
