/* -------------------------------------------
   タグ単位のレイアウト
 ------------------------------------------- */
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');

* {
    font-family: 'Sawarabi Gothic';
    font-size: 0.9rem;
}

body {
    overflow-x: hidden;
    background-color: $c_white;
}

main,
nav {
    padding: 5px 10px;
}

main > section {
    height: 100%;
}

nav + main {
    width: 70%;
    min-width: calc(100% - #{$w_nav});
}

nav {
    width: 30%;
    max-width: #{$w_nav};
}

p {
    margin: 0;
}

strong {
    margin: 0 0.3rem;
}

label {
    font-weight: normal;
}

input,
textarea,
select {
    max-width: 100%;
    &:focus {
        background-color: #ffc;
    }
}
