/* -------------------------------------------
   タグ単位のレイアウト
 ------------------------------------------- */
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');

* {
    font-family: 'Sawarabi Gothic';
    font-size: .9rem;
}

body {
    overflow-x: hidden;
    background-color: $c_white;
}

main, nav {
    padding: 5px 10px;
}

main > section {
    height: 100%;
}

nav + main {
    width: 70%;
    min-width: calc(100% - 220px);
}

nav {
    width: 30%;
    max-width: 220px;
}

strong {
    margin: 0 0.3rem;
}

input, textarea, select {
    &:focus {
        background-color: #ffc;
    }
}
