$minRowHeight: 2.6rem;
$rowPadding: .3rem;

$c_white: #fff;
$c_black: #000;
$c_red: #f00;
$c_blue: #00f;
$c_gray: #ccc;

// ナビゲーション
$w_nav: 240px;

// 勝敗ランキングのヘッダ
$h_ranking_header: 140px;
// 棋士検索のヘッダ
$h_players_header: 140px;
