[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=7.0.0"

[dev-packages]
ansible-lint = "~=6.11.0"

[requires]
python_version = "3.9"

[scripts]
lint = "ansible-lint ./"
setup = "ansible-playbook setup.yml -i hosts/server"
