@use 'sass:color';

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
.container {
  width: 100%;
  height: 100%;
}

.datepicker {
  @include pc() {
    width: 150px;
  }
}

.header {
  @include flex-justify-between();

  padding: 0 10px;
  height: $h_header;
  flex-wrap: wrap;
  background-color: $c_header;

  .system-name {
    min-width: 200px;
    color: #e2d14b;
    font-size: 180%;
    font-weight: bold;
  }

  .other {
    min-width: 200px;
    text-align: right;

    & > * {
      display: flex;
      height: 50%;
      flex-flow: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.footer {
  @include flex-center();

  height: $h_footer;
  background-color: $c_footer;
}

.page-title {
  color: $c_title;
  font-size: 1.5rem;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - #{$h_header} - #{$h_footer});
}

.nav {
  margin: 0;
  padding: 0;
  background-color: $c_nav;
  overflow-y: auto;
}

.main {
  height: 100%;
  background-color: $c_main;
  overflow-y: auto;
}

.nav-menu {
  @include sp() {
    font-size: 0.6rem;
  }

  @include navi($c_nav);

  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $c_border;
  color: $c_text;
  font-size: 120%;
  text-align: center;
  text-decoration: none;
}

.main-content-modal {
  padding: 1.5rem 2rem;
  height: 100%;

  .main {
    overflow-y: hidden;
  }
}

.main-form {
  width: 100%;
  height: 100%;
}

.view-link {
  color: $c_anchor;
  text-decoration: underline;
  cursor: pointer;

  &.female {
    color: $c_female;
  }
}

.recent-ranks-title {
  @include sp() {
    display: none;
  }

  margin: 10px auto 0;
  padding: 5px;
  width: 90%;
  border: 1px solid $c_border;
  border-radius: 5px 5px 0 0;
  background-color: color.adjust($c_blue, $blackness: 16%);

  &-text {
    color: $c_text;
    font-weight: bold;
  }
}

.recent-ranks-data {
  @include sp() {
    display: none;
  }

  margin: 0 auto 10px;
  width: 90%;
  border: 1px solid $c_border;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: color.adjust($c_main, $lightness: 4%);
  max-height: 300px;
  overflow-y: auto;

  * {
    font-size: 0.8rem;
  }

  &-header {
    padding: 5px;
    border-top: 1px solid $c_border;
    border-bottom: 1px solid $c_border;
    background-color: color.adjust($c_header, $lightness: -12%);
  }

  &-row {
    @include flex-justify-start();

    flex-direction: column;
    padding: 4px 10px;

    // データの偶数行の背景色を変更する
    // ただし、同じ要素のヘッダ行があるため指定は奇数行となる
    // &:nth-of-type(odd) {
    //   background-color: color.adjust($c_main, $lightness: 12%);
    // }

    &-text {
      width: 100%;
      flex-basis: 100%;
      margin-left: 5px;

      &.right {
        text-align: right;
      }
    }
  }
}

.button-row {
  display: flex;
  margin: 0.5em auto;
  align-items: center;
  justify-content: center;
}

.layout-button {
  @include button-link(#eee);

  font-weight: normal;

  &.button-primary {
    @include button-link(color.adjust(color.adjust($c_blue, $whiteness: 16%), $lightness: 8%));

    color: $c_white;
  }

  &.button-secondary {
    @include button-link(color.adjust($c_green, $whiteness: -8%));

    color: $c_white;
  }

  &.button-danger {
    @include button-link(color.adjust(color.adjust($c_red, $whiteness: 24%), $lightness: 8%));

    color: $c_white;
  }
}

.button {
  &-primary {
    @include button(color.adjust(color.adjust($c_blue, $whiteness: 16%), $lightness: 8%));

    color: $c_white;
  }

  &-secondary {
    @include button(color.adjust($c_green, $whiteness: -8%));

    color: $c_white;
  }

  &-danger {
    @include button(color.adjust(color.adjust($c_red, $whiteness: 24%), $lightness: 8%));

    color: $c_white;
  }
}
