@import 'module/_variables.scss';
@import 'module/_normalize.scss';
@import 'module/_custom.scss';

%center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

%row {
    display: flex;
    margin: 0.2rem auto;
    padding: 0.2rem;
    align-items: center;
    justify-content: flex-start;
    min-height: #{$minRowHeight};
}

%display-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
.block-ui {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
    background-color: #000;
    transition-property: visibility, opacity;
    transition-timing-function: ease;
    transition-duration: .3s;
    &.blocked {
        visibility: visible;
        opacity: .6;
    }
}

.content {
    display: flex;
    &.modal {
        height: 100%;
        padding: 1rem;
    }
    .button {
        &.inactive {
            background-color: #888;
            &:hover {
                background-color: #666;
            }
        }
    }
}

.button-row {
    display: flex;
    margin: .5em auto;
    align-items: center;
    justify-content: center;
}

.category-row {
    @extend %row;
    height: 2.5rem;
    margin: 0 auto;
    text-indent: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ddeeff;
}

.genre-row {
    @extend %row;
    height: 2.3rem;
    text-indent: 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #eeffdd;
}

.label-row {
    @extend %row;
    margin: 0 auto;
    min-height: 2.2rem;
    text-indent: 0.7rem;
    background-color: #ffeedd;
    font-weight: bold;
}

.input-row {
    @extend %row;
    margin: 0;
    padding: .3rem .7rem;
    min-height: 3rem;

    & > * {
        margin-left: .5rem;
        &.button-wrap {
            margin-left: auto;
        }
    }

    input {
        margin-right: .5rem;
    }

    .point {
        width: 2.5rem;
        text-align: right;
    }

    .holding {
        width: 3rem;
        text-align: right;
    }

    .datepicker {
        width: 9rem;
    }

    .year {
        width: 4rem;
        text-align: right;
    }

    select, textarea {
        width: 100%;
    }
}

.mainForm {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------
   ダイアログ用
 ------------------------------------------- */
.layout-dialog {
    display: none;

    ul {
        padding-left: 1.5rem;
    }
}

/* -------------------------------------------
   検索エリア
 ------------------------------------------- */
.search-header {
    position: relative;
    margin-bottom: 0.5rem;
    padding: $rowPadding;
    background-color: $c_white;
    border: 0.2rem solid #bbb;
    border-radius: 0.4rem;
    label {
        margin: 0 0.5rem 0 0.2rem;
        & + * {
            margin-right: 1rem;
        }
    }
    .year, .country, .sex, .rank {
        width: 6em;
    }
    .organization, .excluded {
        width: 10em;
    }
    .name {
        width: 12em;
    }
    .joined {
        width: 3.2em;
        text-align: right;
    }
}

/* -------------------------------------------
   詳細表示エリア
 ------------------------------------------- */
.detail-dialog {
    width: 100%;
    height: 100%;
    .tabs {
        display: flex;
        height: 30px;
        margin: 0;
        padding: 0;
        list-style: none;
        .tab {
            padding: 0.4rem 1rem;
            font-size: 1rem;
            color: $c_white;
            background-color: $c_black;
            border: 0.1rem solid $c_black;
            border-bottom: none;
            border-radius: 0.5rem 0.5rem 0 0;
            &.selectTab {
                font-weight: bold;
                color: $c_black;
                background-color: #9ff;
            }
            &:not(.selectTab):hover {
                background-color: lighten($c_black, 25%);
                cursor: pointer;
            }
        }
    }
    .detail {
        height: calc(100% - 30px);
        overflow-y: auto;
        border: 0.1rem solid $c_black;
        background-color: $c_white;

        .boxes {
            margin: 0;
            padding: 0;
            list-style: none;
            .row {
                margin: 0 auto;
                .box {
                    flex-grow: 1;
                }
                .box2 {
                    flex-grow: 2;
                }
            }
        }
    }
}

/* -------------------------------------------
   勝敗ランキング画面
 ------------------------------------------- */
.ranking {
    width: 30rem;
    margin-top: 0;
    select {
        width: 7rem;
        margin-right: .4rem;
    }
    .search-results {
        height: calc(100% - #{(($rowPadding * 2) + $minRowHeight) * 2} - 0.5rem); /* content - .search-header and margin */

        .no, .percent {
            width: 13%;
        }
        .player {
            width: 40%;
            &-link {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .point {
            width: 10%;
        }
    }
}

/* -------------------------------------------
   タイトル勝敗検索
 ------------------------------------------- */
.title-scores {
    .search-header {
        .name {
            width: 12em;
        }
        .country {
            width: 6em;
        }
        .year {
            width: 8em;
        }
        .date {
            width: 8em;
        }
    }
    .search-results {
        &.modal {
            height: calc(100% - 3rem);
        }
        .selected {
            color: #04d;
            font-weight: bold;
        }
        .country, .date {
            width: 15%;
        }
        .name {
            width: 25%;
        }
        .operation {
            width: 20%;
        }
    }
}

/* -------------------------------------------
   棋士情報検索
 ------------------------------------------- */
.players {
    .table-row {
        &.retired {
            background-color: $c_gray;
        }
    }
    .search-header {
        .result-count {
            margin-left: 5px;
            color: $c_red;
        }
        .joined {
            margin-right: .3rem;
            margin-left: .3rem;
        }
    }
    .search-results {
        height: calc(100% - #{(($rowPadding * 2) + $minRowHeight) * 3} - 0.5rem); /* content - .search-header and margin */
        .score {
            padding: 0;
            .point {
                width: 3%;
                padding: 0 .5rem;
            }
        }

        .id {
            width: 6%;
        }

        .name {
            width: 20%;
        }

        .country {
            width: 6%;
        }

        .enrollment {
            width: 10%;
        }

        .rank, .sex {
            width: 5%;
        }

        .organization {
            width: 8%;
        }

        .point {
            width: 3%;
        }
    }
}

/* -------------------------------------------
   タイトル情報検索
 ------------------------------------------- */
.titles {
    .table-row {
        span {
            padding: 0 .3em;
            .changed {
                color: $c_red;
            }
        }
        &.closed {
            background-color: $c_gray;
        }
    }
    .name {
        width: 19%;
    }

    .winner {
        width: 15%;
    }

    .holding, .order {
        width: 5%;
        text-align: center;
    }

    .team, .closed {
        width: 5%;
        text-align: center;
    }

    .filename, .modified {
        width: 10%;
    }

    input[type=text] {
        width: 100%;
    }

    .holding input[type=text],
    .order input[type=text],
    .modified input[type=text] {
        text-align: center;
    }
}

/* -------------------------------------------
   タイトル情報詳細
 ------------------------------------------- */
.retentions {
    display: none;
    width: 85%;
    margin: auto;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid $c_black;

    *, button {
        font-size: 0.85rem;
    }

    table {
        width: 100%;
        margin: auto;
        &, tbody, tr, td {
            border: 0.1rem $c_black solid;
            border-collapse: collapse;
        }

        tbody, tr, td {
            padding: 0.1rem 0.5rem;
        }
    }
}

/* -------------------------------------------
   段位別棋士数検索
 ------------------------------------------- */
.categories {
    width: 15em;
    .search-results {
        .rank {
            width: 40%;
        }
        .count {
            width: 60%;
        }
    }
}

/* -------------------------------------------
   成績更新日編集
 ------------------------------------------- */
.update-points {
    .search-results {
        height: auto;
        border: 0.2rem solid #777;
        background-color: $c_white;
        max-height: calc(100% - 4rem - 0.5rem); /* content - .search-header and margin */
        ul {
            border: none;
            .changed {
                color: $c_red;
            }
        }
    }
}

/* -------------------------------------------
   各種情報クエリ更新
 ------------------------------------------- */
.update-score {
    .queries {
        width: 100%;
        height: calc(100% - 3.8rem);
        margin-bottom: 5px;
        font-size: 12px;
        overflow-y: auto;
        border: 1px solid $c_black;
    }
}
