@import 'module/_variables.scss';
@import 'module/_normalize.scss';
@import 'module/_mixin.scss';

%row {
    display: flex;
    margin: 0.2rem auto;
    padding: 0.2rem;
    align-items: center;
    justify-content: flex-start;
    min-height: #{$minRowHeight};
}

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
.nav {
    margin: 0;
    padding: 0;
    background-color: #848fa3;
}

.nav-menu {
    @include navi(#848fa3);
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $c_gray;
    color: $c_white;
    font-size: 140%;
    text-align: center;
    text-decoration: none;
}

.header {
    padding: 0 10px;
    .system-name {
        width: 15%;
        min-width: 200px;
        font-size: 130%;
        font-weight: bold;
    }
    .page-title {
        width: 70%;
    }
    .other {
        width: 15%;
        min-width: 200px;
        text-align: right;
        & > * {
            display: flex;
            height: 50%;
            flex-flow: wrap;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.main-content {
    display: flex;
    &.modal {
        padding: 1rem;
        height: 100%;
    }
}

.button-row {
    display: flex;
    margin: .5em auto;
    align-items: center;
    justify-content: center;
}

.category-row {
    @extend %row;
    margin: 0 auto;
    height: 2.5rem;
    text-indent: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #def;
}

.genre-row {
    @extend %row;
    height: 2.3rem;
    text-indent: 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #efd;
}

.label-row {
    @extend %row;
    margin: 0 auto;
    min-height: 2.2rem;
    text-indent: 0.7rem;
    background-color: #fed;
    font-weight: bold;
}

.input-row {
    @extend %row;
    margin: 0;
    padding: .3rem .7rem;
    min-height: 3rem;

    &-label {
        margin-right: 5px;
        margin-left: 15px;
    }

    select {
        width: 100%;
    }

    .inner-column {
        margin: auto 5px;
    }

    .button-wrap {
        margin-left: auto;
    }

    .checkbox-label {
        margin-right: 10px;
        margin-left: 5px;
    }

    .name {
        width: 160px;
    }

    .point {
        width: 2.5rem;
        text-align: right;
    }

    .holding {
        width: 3rem;
        text-align: right;
    }

    .datepicker {
        width: 9rem;
    }

    .year {
        width: 4rem;
        text-align: right;
    }

    .remarks {
        width: 100%;
    }
}

.main-form {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------
   検索エリア
 ------------------------------------------- */
.search-header {
    position: relative;
    margin-bottom: 0.5rem;
    padding: $rowPadding;
    background-color: $c_white;
    border: 0.2rem solid #bbb;
    border-radius: 0.4rem;
}

.search-row {
    & > * {
        margin-right: 1rem;
    }
    .button-wrap {
        margin-right: 0;
    }

    label {
        padding: 0 5px 0 3px;
        font-weight: normal;
    }
    .year, .country, .sex, .rank {
        width: 6em;
    }
    .organization, .excluded {
        width: 10em;
    }
}

/* -------------------------------------------
   詳細表示エリア
 ------------------------------------------- */
.detail-dialog {
    width: 100%;
    height: 100%;
    .tabs {
        display: flex;
        margin: 0;
        padding: 0;
        height: 30px;
        list-style: none;
        .tab {
            padding: 0.4rem 1rem;
            font-size: 1rem;
            color: $c_white;
            background-color: $c_black;
            border: 0.1rem solid $c_black;
            border-bottom: none;
            border-radius: 0.5rem 0.5rem 0 0;
            transition: font-weight .3s, color .3s, background-color .3s;
            &.selectTab {
                font-weight: bold;
                color: $c_black;
                background-color: #9ff;
            }
            &:not(.selectTab):hover {
                background-color: lighten($c_black, 25%);
                cursor: pointer;
            }
        }
    }
    .detail {
        height: calc(100% - 30px);
        overflow-y: auto;
        border: 0.1rem solid $c_black;
        background-color: $c_white;

        .tab-contents {
            @include fade(.5, 'not-select');
        }

        .boxes {
            margin: 0;
            padding: 0;
            list-style: none;
            .row {
                margin: 0 auto;
                .box {
                    flex-grow: 1;
                }
                .box2 {
                    flex-grow: 2;
                }
            }
        }
    }
}

/* -------------------------------------------
   勝敗ランキング画面
 ------------------------------------------- */
.ranking {
    margin-top: 0;
    width: 30rem;
    select {
        margin-right: .4rem;
        width: 7rem;
    }
    .search-results {
        height: calc(100% - #{(($rowPadding * 2) + $minRowHeight) * 2} - 0.5rem); /* content - .search-header and margin */

        .no, .percent {
            width: 13%;
        }
        .player {
            width: 40%;
            &-link {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .point {
            width: 10%;
        }
    }
}

/* -------------------------------------------
   タイトル勝敗検索
 ------------------------------------------- */
.title-scores {
    .search-header {
        .name {
            width: 12em;
        }
        .country {
            width: 6em;
        }
        .year {
            width: 8em;
        }
        .date {
            width: 8em;
        }
    }
    .search-results {
        &.modal {
            height: calc(100% - 3rem);
        }
        .selected {
            color: #04d;
            font-weight: bold;
        }
        .id {
            width: 6%;
        }
        .country, .date {
            width: 12%;
        }
        .name {
            width: 25%;
        }
        .operation {
            display: flex;
            width: 20%;
            justify-content: center;
            form {
                width: 40%;
            }
        }
    }
}

/* -------------------------------------------
   棋士情報検索
 ------------------------------------------- */
.players {
    .table-row {
        &.retired {
            background-color: $c_gray;
        }
    }
    .search-header {
        height: 130px;

        .result-count {
            margin-left: 5px;
            color: $c_red;
        }
        .name {
            width: 180px;
        }
        .joined {
            margin-right: .3rem;
            margin-left: .3rem;
            width: 70px;
        }
    }
    .search-results {
        height: calc(100% - 130px - 10px); /* content - .search-header and padding */
        .score {
            padding: 0;
            width: 9%;
            &-point {
                display: flex;
                justify-content: space-around;
            }
        }

        .id {
            width: 6%;
        }

        .name {
            width: 20%;
        }

        .country {
            width: 6%;
        }

        .enrollment {
            width: 10%;
        }

        .rank, .sex {
            width: 5%;
        }

        .organization {
            width: 8%;
        }

        .point {
            width: 3%;
        }
    }
}

/* -------------------------------------------
   タイトル情報検索
 ------------------------------------------- */
.titles {
    .table-column {
        padding: 0 5px;
        & > * {
            max-width: 100%;
        }
    }

    &-country {
        width: 90px;
    }
    &-closed {
        width: 100px;
    }

    .table-row-closed {
        background-color: $c_gray;
    }

    .name {
        width: 18%;
    }

    .winner {
        width: 15%;
    }

    .holding, .order {
        width: 5%;
    }

    .team, .closed {
        width: 5%;
        text-align: center;
    }

    .filename {
        width: 9%;
    }

    .modified {
        width: 13%;
    }

    .open-detail {
        padding-left: 10px;
    }

    .input-holding,
    .input-sortorder {
        text-align: right;
    }
}

/* -------------------------------------------
   タイトル情報詳細
 ------------------------------------------- */
.retentions {
    margin: 5px auto;
    width: 85%;
    max-width: 750px;
    max-height: 200px;

    &-name {
        width: 25%;
    }
    &-country, &-rank, &-sex {
        width: 10%;
    }
    &-select {
        width: 20%;
    }
}

/* -------------------------------------------
   段位別棋士数検索
 ------------------------------------------- */
.categories {
    width: 15em;
    .search-results {
        .rank {
            width: 40%;
        }
        .count {
            width: 60%;
        }
    }
}

/* -------------------------------------------
   各種情報クエリ更新
 ------------------------------------------- */
.update-score {
    .queries {
        margin-bottom: 5px;
        width: 100%;
        height: calc(100% - 3.8rem);
        font-size: 12px;
        overflow-y: auto;
        border: 1px solid $c_black;
    }
}
