@import 'module/_variables.scss';
@import 'module/_mixin.scss';
@import 'module/_normalize.scss';

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
.container {
    width: 100%;
    height: 100%;
}

.datepicker {
    @include pc() {
        width: 150px;
    }
}

.header {
    @include flex-horizontal-between();
    padding: 0 10px;
    height: $h_header;
    flex-wrap: wrap;
    background-color: $c_header;
    .system-name {
        min-width: 200px;
        color: #e2d14b;
        font-size: 180%;
        font-weight: bold;
    }
    .other {
        min-width: 200px;
        text-align: right;
        & > * {
            display: flex;
            height: 50%;
            flex-flow: wrap;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.footer {
    @include flex-center();
    height: $h_footer;
    background-color: $c_footer;
}

.page-title {
    color: $c_title;
    font-size: 1.5rem;
}

.main-content {
    height: calc(100% - #{$h_header} - #{$h_footer});
}

.nav {
    margin: 0;
    padding: 0;
    background-color: $c_nav;
    overflow-y: auto;
}

.main {
    height: 100%;
    background-color: $c_main;
    overflow-y: auto;
}

.nav-menu {
    @include sp() {
        font-size: .6rem;
    }
    @include navi($c_nav);
    display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $c_gray;
    color: $c_white;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: flex-start;
}

.main-content-modal {
    padding: 1rem;
    height: 100%;
    .main {
        overflow-y: hidden;
    }
}

.main-form {
    width: 100%;
    height: 100%;
}

.view-link {
    color: $c_blue;
    text-decoration: underline;
    cursor: pointer;
    &.female {
        color: $c_red;
    }
}

.recent-ranks-title {
    @include sp() {
        display: none;
    }
    margin: 10px auto 0;
    padding: 5px;
    width: 90%;
    border: 1px solid $c_black;
    border-radius: 5px 5px 0 0;
    background-color: rgb(30, 134, 238);

    &-text {
        color: $c_white;
        font-weight: bold;
    }
}

.recent-ranks-data {
    @include sp() {
        display: none;
    }
    margin: 0 auto 10px;
    width: 90%;
    border: 1px solid $c_black;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: $c_white;
    max-height: 300px;
    overflow-y: auto;

    * {
        font-size: 0.8rem;
    }

    &-header {
        padding: 5px;
        border-top: 1px solid $c_gray;
        border-bottom: 1px solid $c_gray;
        background-color: #e2d14b;
    }

    &-row {
        padding: 8px 5px 8px 15px;

        &-text {
            margin-left: 5px;
        }
    }
}

.button-row {
    display: flex;
    margin: 0.5em auto;
    align-items: center;
    justify-content: center;
}

.layout-button {
    @include button-link(#eee);
}

.button {
    &-primary {
        @include button(lighten(rgb(22, 22, 190), 10%));
        color: $c_white;
    }
    &-secondary {
        @include button(lighten(rgb(16, 119, 16), 10%));
        color: $c_white;
    }
    &-danger {
        @include button(lighten(rgb(197, 13, 13), 10%));
        color: $c_white;
    }
}

/* -------------------------------------------
   検索エリア
 ------------------------------------------- */
.search-header {
    @include flex-horizontal-start();
    position: relative;
    margin-bottom: .5rem;
    padding: $rowPadding;
    flex-wrap: wrap;
    background-color: $c_white;
    border: 0.2rem solid #bbb;
    border-radius: 0.4rem;
}

.search-row {
    @include sp() {
        display: block;
    }
    @include flex-searcharea();
    width: 100%;
}

.search-box {
    @include sp() {
        margin: .3rem;
    }
    @include flex-horizontal-start();
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-left: 1rem;
    flex-wrap: wrap;

    &_label {
        display: block;
        margin-right: .3rem;
        width: 100%;
    }

    &-right {
        @include sp() {
            @include flex-horizontal-end();
        }
        margin-left: auto;
    }

    .input {
        @include sp() {
            width: 100%;
        }
    }
}

/* -------------------------------------------
   ページネーション
 ------------------------------------------- */
.pagination {
    @include sp() {
        @include flex-center();
        flex-wrap: wrap;
    }
    @include flex-horizontal-between();
    margin: .4rem auto;

    &-item {
        margin: 0;
        padding: 0;
    }

    .result-count {
        padding-left: .3rem;
        color: $c_red;
    }
}
.pager {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-item {
        margin: auto .15rem;
        background-color: $c_gray;

        &-link {
            display: block;
            padding: .1rem .5rem .2rem;
            color: $c_black;
            text-decoration: none;

            &:hover {
                background-color: darken($c_gray, 10%);
                transition: background-color .3s ease-in-out;
            }
        }

        &.active {
            font-weight: bold;
        }

        &.active,
        &.disabled {
            background-color: darken($c_gray, 10%);

            .pager-item-link {
                cursor: initial;

                &:hover {
                    background-color: inherit;
                }
            }
        }
    }
}

/* -------------------------------------------
   一覧エリア
 ------------------------------------------- */
.search-results {
    @include sp() {
        &, & * {
            font-size: .6rem;
            word-wrap: break-word;
        }
    }
    border: 1px solid $c_black;
}

.table-header,
.table-body {
    margin: 0;
    padding: 0;
}

.table-header {
    background-color: $c_table-header;
}

.table-body {
    margin-bottom: .5rem;
    border-top: none;
}

.table-row {
    @include flex-horizontal-start();
    padding: .3rem .5rem;
}

.table-column {
    padding: .1rem .3rem;
}


/* -------------------------------------------
   ログイン
 ------------------------------------------- */
.login-container {
    @include flex-center();

    .login-content {
        border: 1px solid $c_black;
        border-radius: 5px;
        width: 300px;
        max-width: 80%;
    }

    .login-title {
        width: 100%;
        background-color: $c_title;
        color: $c_white;
        font-family: 'Maitree', serif;
        font-size: 2rem;
        text-align: center;
    }

    .login-main {
        padding: .8rem 1rem;
    }

    .login-row {
        margin: 1rem auto;
    }

    .login-label {
        display: block;
        margin-bottom: .5rem;
    }

    .login-account,
    .login-password {
        width: 100%;
        max-width: 100%;
    }
}

/* -------------------------------------------
   勝敗ランキング画面
 ------------------------------------------- */
.ranking {
    width: 500px;

    &_year,
    &_country,
    &_limit {
        margin-right: 0.4rem;
        width: calc(33% - 0.4rem);
    }

    &_date {
        &-duration {
            margin: auto 0.4rem;
        }
    }

    .table-column {
        &_no {
            width: 10%;
            text-align: center;
        }

        &_percent {
            width: 15%;
            text-align: center;
        }

        &_player {
            width: 45%;
        }

        &_point {
            width: 10%;
            text-align: center;
        }
    }
}

/* -------------------------------------------
   タイトル勝敗検索
 ------------------------------------------- */
.title-scores {
    .search-header {
        .started {
            margin-right: 0.5rem;
            width: 120px;
        }
        .ended {
            margin-left: 0.5rem;
            width: 120px;
        }
    }

    .table-column {
        &_id {
            width: 5%;
            text-align: center;
        }

        &_title {
            width: 15%;
        }

        &_country,
        &_date {
            width: 10%;
        }

        &_name {
            width: 20%;
        }

        &_operation {
            display: flex;
            width: 20%;
            justify-content: center;
        }
    }

    .player-scores-header {
        @include flex-horizontal-between();
        height: 40px;
        .score-detail {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .player-scores-results {
        height: calc(100% - 40px);
        border: 1px solid $c_black;

        .table-header {
            .table-row {
                height: 35px;
            }
        }
        .table-body {
            height: calc(100% - 35px);
            overflow-y: auto;
        }

        .table-column {
            &_id {
                width: 10%;
            }

            &_title {
                width: 30%;
            }

            &_country,
            &_date {
                width: 10%;
            }

            &_name {
                width: 20%;

                .selected {
                    color: #04d;
                    font-weight: bold;
                }
            }
        }
    }
}

/* -------------------------------------------
   棋士情報検索
 ------------------------------------------- */
.players {
    .search-header {
        .joined {
            margin-right: 0.3rem;
            width: 100px;
            &.joined-to {
                margin-left: 0.3rem;
            }
        }
    }

    .table-row-retired {
        background-color: $c_gray;
    }

    .table-column {
        &_id {
            width: 6%;
            text-align: center;
        }

        &_name {
            @include sp() {
                width: 23%;
            }
            width: 20%;
        }

        &_country {
            @include sp() {
                width: 8%;
            }
            width: 6%;
            text-align: center;
        }

        &_enrollment {
            @include sp() {
                width: 13%;
            }
            width: 10%;
        }

        &_rank,
        &_sex {
            @include sp() {
                width: 7%;
            }
            width: 5%;
            text-align: center;
        }

        &_organization {
            @include sp() {
                width: 13%;
            }
            width: 10%;
            text-align: center;
        }

        &_score {
            @include sp() {
                display: none;
            }
            display: flex;
            padding: 0;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 9%;
            &-summary {
                width: 100%;
                text-align: center;
            }
            &-point {
                padding: 0;
                min-width: 20%;
                text-align: center;
            }
        }

        &_point {
            @include sp() {
                display: none;
            }
            width: 3%;
            text-align: center;
        }
    }
}

/* -------------------------------------------
   タイトル情報検索
 ------------------------------------------- */
.titles {
    .table-row {
        &-closed {
            background-color: $c_gray;
        }
    }

    .table-column {
        &_name {
            width: 18%;
        }

        &_winner {
            width: 15%;
        }

        &_holding,
        &_order {
            width: 5%;
            text-align: center;
            &-input {
                text-align: right;
            }
        }

        &_team,
        &_closed {
            width: 5%;
            text-align: center;
        }

        &_filename {
            width: 9%;
        }

        &_modified {
            width: 13%;
            text-align: center;
            &-input {
                text-align: center;
            }
        }

        &_open-detail {
            width: 7%;
            text-align: center;
        }
    }
}

/* -------------------------------------------
   段位別棋士数検索
 ------------------------------------------- */
.categories {
    @include sp() {
        width: 100%;
    }
    width: 200px;
    .table-column {
        &_rank {
            width: 40%;
            text-align: right;
        }

        &_count {
            width: 60%;
            text-align: right;
        }
    }
}

/* -------------------------------------------
   各種情報クエリ更新
 ------------------------------------------- */
.update-score {
    .queries {
        margin-bottom: 5px;
        width: 100%;
        height: calc(100% - 3.8rem);
        font-size: 12px;
        overflow-y: auto;
        border: 1px solid $c_black;
    }
}
