name: CI

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code_check_backend:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gotoeveryone/composer-php:8.4
    steps:
      - uses: actions/checkout@v4
      - name: Cache modules
        uses: actions/cache@v4
        id: vendor_cache
        with:
          path: vendor
          key: ${{ runner.OS }}-vendor-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        if: ${{ steps.vendor_cache.outputs.cache-hit != 'true' }}
        run: composer install
      - name: Execute code check
        run: composer cs-check

  code_check_frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.13"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Execute code check
        run: npm run lint

  test_backend:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    # 本来はこの方法でテストを実行したいが、service として立ち上げる MariaDB は非 ASCII 文字に対応しておらずエラーになるため一旦断念
    # container:
    #   image: ghcr.io/gotoeveryone/composer-php:8.4
    # services:
    #   database:
    #     image: mariadb:10.5
    #     ports:
    #       - 3306:3306
    #     env:
    #       MARIADB_DATABASE: 'gotea_test'
    #       MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'yes'
    #     options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    env:
      DB_TEST_HOST: '127.0.0.1'
      DB_TEST_PORT: 3306
      DB_TEST_USERNAME: 'root'
      DB_TEST_PASSWORD: ''
      DB_TEST_NAME: 'gotea_test'
      DB_TEST_ENCODING: 'utf8mb4'
      DB_TEST_TIMEZONE: 'Asia/Tokyo'
      SECURITY_SALT: ${{ secrets.SECURITY_SALT }}
      TZ: Asia/Tokyo
      SENTRY_DSN: ''
    steps:
      - name: Set up MariaDB
        run: >
          docker run \
            -e MARIADB_DATABASE=${DB_TEST_NAME} \
            -e MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes \
            -d \
            -p ${DB_TEST_PORT}:3306 \
            mariadb:10.5 mariadbd --character-set-server=${DB_TEST_ENCODING} --collation-server=${DB_TEST_ENCODING}_general_ci
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: zip, intl, pdo_mysql
          ini-values: xdebug.mode="develop"
      - name: Wait for MariaDB
        run: |
          while ! mysqladmin ping --host=${DB_TEST_HOST} --port ${DB_TEST_PORT} --silent; do
            sleep 1
          done
      - name: Cache modules
        uses: actions/cache@v4
        id: vendor_cache
        with:
          path: vendor
          key: ${{ runner.OS }}-vendor-${{ hashFiles('**/composer.lock') }}
      - name: Install dependencies
        if: ${{ steps.vendor_cache.outputs.cache-hit != 'true' }}
        run: composer install
      - name: Execute setup
        if: ${{ steps.vendor_cache.outputs.cache-hit == 'true' }}
        run: composer setup
      - name: Execute test
        run: composer test

  test_frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.13"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Execute code check
        run: npm test
